@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@media (prefers-color-scheme: light) {
  :root {
    transition: 300ms;
    --foreground-color: rgb(20, 20, 20);
    --secondary-foreground: rgb(80, 80, 80);
    --secondary-foreground-darker: rgb(35, 35, 35);
    --background-color: rgb(250, 250, 250);
    --secondary-background: rgb(200, 200, 200);
    --invert: invert(0);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    transition: 300ms;
    --secondary-background: rgb(80, 80, 80);
    --background-color: rgb(35, 35, 35);
    --foreground-color: rgb(250, 250, 250);
    --secondary-foreground: rgb(200, 200, 200);
    --invert: invert(0.9);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: "Work Sans", sans-serif;
  margin: auto;
  padding: 3rem;
  position: relative;
  display: block;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 25pt;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 15px;
}

a, a:visited {
  text-decoration: none;
  color: var(--foreground-color);
  border-bottom: 2px solid var(--foreground-color);
  transition: color 300ms, border-bottom 300ms;
}

a:hover {
  color: var(--secondary-foreground);
  border-color: var(--secondary-foreground);
}

#profile {
  margin: auto;
  display: flex;
  position: relative;
  justify-content: center;
  width: 50vw;
  height: 160px;
  #profile-name-container {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    h1 {
      padding: 0;
    }
    margin-left: 40px;
  }
  #profile-image-container {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    img {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.projects-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  align-items: start;
  justify-items: center;
  padding: 2vw;

  .project-tile.linked:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  .project-tile {
    height: 100%;
    transition: 300ms;
    min-width: 200px;
    width: 100%;
    max-width: 400px;
    padding: 1vw 1vw;
    display: flex;
    flex-direction: column;

    .image-container {
      max-width: 100%;
      height: 200px;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      vertical-align: center;
      justify-content: space-around;
      border-radius: 10px;

      img {
        max-width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
      }

      .svg {
        height: 140px;
        width: auto;
        position: relative;
        margin: auto auto;
        display: block;
        filter: var(--invert);
      }
    }

    .text {
      padding: 1vw;

      div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        p:nth-child(1) {
          padding: 5px 0;
        }

        .project-name {
          font-weight: 600;
          padding-bottom: 3px;
        }

        .project-date, .project-size {
          font-weight: normal;
          font-style: italic;
          color: var(--secondary-foreground);
        }
      }
    }
  }
}